Gemini_Multi-Tool_Shopping_Agent.json
{
  "name": "Gemini Multi-Tool Shopping Agent",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -624,
        -272
      ],
      "id": "9e3a2232-0097-4e27-a704-f676ceae2dff",
      "name": "When chat message received",
      "webhookId": "815e249f-d282-4e1d-a54d-9597245b4231"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        -48
      ],
      "id": "1a4db74a-6e99-4d4c-b8ca-6c7c7a3f9a98",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vEXfCWcasBq7BiOA",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        160
      ],
      "id": "2b786630-855f-407b-92ea-68d837314c71",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "vEXfCWcasBq7BiOA",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the Main Orchestrator Agent in a multi-agent shopping system.\n\nYour responsibilities:\n1. Collect the final requirements from the requirement_gathering_agent tool.\n2. Once requirements are complete, you MUST output them in a strict JSON format.\n3. NEVER speak normally. NEVER write explanations. NEVER output anything except the required JSON block.\n4. ALWAYS call the Respond to Chat tool when talking to the user.\n5. The user can ONLY shop electronics.\n\nSTRICT OUTPUT FORMAT:\nWhen all requirements are gathered, ALWAYS output exactly:\n\nREQUIREMENTS_GATHERED:\n{\n  \"product_name\": \"<string>\",\n  \"category\": \"electronics\",\n  \"budget\": <number or null>,\n  \"quantity\": <integer or null>,\n  \"features\": {\n      \"brand\": \"<string or null>\",\n      \"model\": \"<string or null>\",\n      \"color\": \"<string or null>\",\n      \"dimensions\": \"<string or null>\",\n      \"power_rating\": \"<string or null>\",\n      \"connectivity\": \"<string or null>\",\n      \"compatible_with\": \"<string or null>\",\n      \"other\": \"<string or null>\"\n  },\n  \"raw\": \"<original user request>\"\n}\n\n\nRULES:\n- If the requirement_gathering_agent returns the details, convert them to the JSON format above.\n- If the user asks about NON-electronics, call respond_to_chat with this message:\n  \"Sorry, I can only help with electronics items.\"\n- If information is missing, call requirement_gathering_agent.\n- When the JSON is ready, return ONLY the block starting with:\n  REQUIREMENTS_GATHERED:\n- Do NOT add any extra text before or after the block.\n- Do NOT summarize.\n- Do NOT explain.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -224,
        -272
      ],
      "id": "a77a95f6-c156-420a-b085-756d609542f0",
      "name": "Main Orchestrator Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "toolDescription": "An AI agent which gathers all the needed information for selecting the products",
        "text": "={{ $('When chat message received').item.json.chatInput }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful shopping assistant. Your ONLY job is to gather specific requirements from the user. \nDo not attempt to search for products or buy anything yet.\n\nYou must ask follow-up questions until you have ALL of the following information:\n1. Product Name (what they want)\n2. Budget (max price)\n3. Specific features (color, size, brand, etc.)\n\nIf the user misses any detail, ask for it specifically.\nOnce you have ALL details, output a final summary starting with \"REQUIREMENTS GATHERED:\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -16,
        -48
      ],
      "id": "4b9d2ed4-8af9-40b5-a9f4-cf0d6c60ef13",
      "name": "Requirement gathering agent"
    },
    {
      "parameters": {
        "toolDescription": "=Respond back to the chat.",
        "message": "={{ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTool",
      "typeVersion": 1,
      "position": [
        -144,
        -48
      ],
      "id": "845c976d-f57c-452a-872b-8131b299fa29",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -272,
        -48
      ],
      "id": "f6b6dbc8-d92b-470b-9dde-e606745c658c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"output\": \"{{ $json.output.raw }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        -272
      ],
      "id": "9f9b5ba4-6e80-49d1-8745-a45c7b5b0db7",
      "name": "Shopping Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"$id\": \"http://example.com/ic-chip-query.schema.json\",\n  \"title\": \"IC Chip Product Query\",\n  \"description\": \"Schema for specifying requirements to search for an IC chip.\",\n  \"type\": \"object\",\n  \n  \"properties\": {\n    \"product_name\": {\n      \"type\": \"string\",\n      \"description\": \"The general name of the product being searched for.\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"The broad category the product belongs to (e.g., electronics).\"\n    },\n    \"budget\": {\n      \"type\": \"number\",\n      \"description\": \"The maximum budget for the purchase.\"\n    },\n    \"quantity\": {\n      \"type\": \"integer\",\n      \"description\": \"The number of units required.\"\n    },\n    \"features\": {\n      \"type\": \"object\",\n      \"description\": \"Specific technical and aesthetic requirements for the IC chip.\",\n      \"properties\": {\n        \"brand\": {\n          \"type\": \"string\",\n          \"description\": \"The desired manufacturer of the chip (e.g., Texas Instruments).\"\n        },\n        \"model\": {\n          \"type\": \"string\",\n          \"description\": \"The specific model name (e.g., LM358).\"\n        },\n        \"color\": {\n          \"type\": \"string\",\n          \"description\": \"The color of the component.\"\n        },\n        \"dimensions\": {\n          \"type\": \"string\",\n          \"description\": \"The physical dimensions or package type (e.g., 8-pin DIP).\"\n        },\n        \"power_rating\": {\n          \"type\": \"string\",\n          \"description\": \"The operating voltage or power specification (e.g., 3V - 32V).\"\n        },\n        \"connectivity\": {\n          \"type\": \"string\",\n          \"description\": \"The type of interface or signal (e.g., Analog, I2C).\"\n        },\n        \"compatible_with\": {\n          \"type\": \"string\",\n          \"description\": \"Other systems or boards the chip must work with.\"\n        },\n        \"other\": {\n          \"type\": \"string\",\n          \"description\": \"Any other general or unique description of the chip's function.\"\n        }\n      },\n      \"required\": []\n    },\n    \"raw\": {\n      \"type\": \"string\",\n      \"description\": \"The original, unstructured user request for context.\"\n    }\n  },\n  \n  \"required\": [\n    \"product_name\",\n    \"category\"\n   ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        -48
      ],
      "id": "384f6474-6861-4c3f-844e-cd03f1c4e26e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        160
      ],
      "id": "95efe7f1-27ef-4479-9199-a1e3f5f153df",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "vEXfCWcasBq7BiOA",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.result }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        864,
        -272
      ],
      "id": "21f34a43-4c78-4343-bc17-e2a0702d3c88",
      "name": "Respond to Chat1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Main Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Main Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Requirement gathering agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Main Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Shopping Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "ai_tool": [
        [
          {
            "node": "Main Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Requirement gathering agent": {
      "ai_tool": [
        [
          {
            "node": "Main Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Main Orchestrator Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Shopping Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9272b3f9-b418-4edc-abeb-5b670e56e274",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a45aab007142fe837fc3f52d6c674fa6e06ba148484f1b00c6f046a9f63f9c60"
  },
  "id": "lLV6Nr3f0QupyU8M",
  "tags": [
    {
      "updatedAt": "2025-12-04T17:00:31.132Z",
      "createdAt": "2025-12-04T17:00:31.132Z",
      "id": "OsUG64Skv69pktKC",
      "name": "IN PROGRESS"
    }
  ]
}